<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<footer class="new_footer_area bg_color" th:fragment="aboutfooter">
		<div class="new_footer_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 mt-3">
						<div class="f_widget company_widget wow fadeInLeft"
							data-wow-delay="0.2s"
							style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
							<h3 class="f-title f_600 t_color f_size_18">Contact</h3>
							<form method="POST" th:action="@{/send/mail}" id="emailForm"
								class="f_subscribe_two mailchimp">
								<input type="email" name="EMAIL" class="form-control memail"
									placeholder="your@email.com" th:required="true">
								<button id="btnForm" class="btn btn_get btn_get_two"
									type="submit" onsubmit="myFunction()">Send</button>
								<p class="mchimp-errmessage" style="display: none;"></p>
								<p class="mchimp-sucmessage" style="display: none;"></p>
							</form>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mt-3">
						<div class="f_widget about-widget pl_70 wow fadeInLeft"
							data-wow-delay="0.4s"
							style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
							<h3 class="f-title f_600 t_color f_size_18">Downloads</h3>
							<ul class="list-unstyled f_list">
								<li><a
									href="https://sgz.adem.my.id/?source=youtube&amp;title=ry0PaoRImZ&amp;type=apk&amp;download=aHR0cHM6Ly9kb3dubG9hZDE1OTMubWVkaWFmaXJlLmNvbS94cTNoZmRmZXA3amcvN2RlOHEwdGp5d2dhYXowL2FwcC1kZWJ1Zy5hcGs%3D"
									target="_blank">Find us with Google Maps App</a></li>
								<li>
								<li><a th:href="@{/products/export/to/pdf}">Price List</a></li>
								<li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 m
							t-3">
						<div class="f_widget about-widget pl_70 wow fadeInLeft"
							data-wow-delay="0.6s"
							style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
							<h3 class="f-title f_600 t_color f_size_18">Assistance</h3>
							<ul class="list-unstyled f_list">
								<li><a th:href="@{/terms-and-conditions}">Terms and
										conditions</a></li>
								<li><a href="#">Report</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mt-3">
						<div class="f_widget social-widget pl_70 wow fadeInLeft"
							data-wow-delay="0.8s"
							style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
							<h3 class="f-title f_600 t_color f_size_18">Social media</h3>
							<div class="f_social_icon">
								<a href="https://www.facebook.com/" target="_blank"
									class="fa fa-facebook"></a> <a href="https://twitter.com/"
									target="_blank" class="fa fa-twitter"></a> <a
									href="https://ar.linkedin.com/" target="_blank"
									class="fa fa-linkedin"></a> <a
									href="https://github.com/enzosandoval/snack-attack-tp-final"
									target="_blank" class="fa fa-github"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bg">
				<div class="footer_bg_one"></div>
				<div class="footer_bg_two"></div>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-7">
						<p class="mb-0 f_400">&copy; Visual Programming. Snack Attack,
							All rights reserved.</p>
					</div>
					<div class="col-lg-6 col-sm-5 text-right">
						<p class="mb-0 f_400">
							Powered by <i class="icon_heart"> </i><a
								href="https://github.com/enzosandoval/snack-attack-tp-final"
								target="_blank">GitHub.</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cookie-container justify-content-center">
			<p class="text-center">
				By browsing this site you accept the cookies that we use to improve
				your experience. . <a class="cookie__link" href="#" target="_blank">More
					information. </a>
				<button class="cookie-btn">
					<span aria-hidden="true"> Understood</span>
				</button>
			</p>
		</div>
		<script type="text/javascript">
	const cookieContainer = document.querySelector(".cookie-container");
	const cookieButton = document.querySelector(".cookie-btn");

	cookieButton.addEventListener("click", () => {
 	cookieContainer.classList.remove("active");
 	localStorage.setItem("cookieBannerDisplayed", "true");
	});

	setTimeout(() => {
  	if (!localStorage.getItem("cookieBannerDisplayed")) {
    cookieContainer.classList.add("active");
  	}
}, 2000);</script>
		<script type="text/javascript">
	function myFunction() {
  	setTimeout(function(){ alert("Su correo ha sido enviado con éxito"); }, 3000);
}
</script>
	</footer>
</body>
</html>
