<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<header th:fragment="header" class="header fixed-top">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-md navbar-light">
				<!-- Brand -->
				<a class="navbar-brand" th:href="@{/}">Classic Models Cars</a>
				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end"
					id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
						<li class="nav-item" sec:authorize="isAuthenticated()" ><a class="nav-link "
							th:href="@{/customers}">Customers</a></li>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()" ><a class="nav-link "
							th:href="@{/products}">Products</a></li>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()" ><a class="nav-link "
							th:href="@{/new-order}">New Order</a></li>
						</li>
						<li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link "
							th:href="@{/products/list}">Products</a></li>
						</li>
						<!---->
						<div class="rectangle" sec:authorize="isAnonymous()">
							<li class="nav-item sign-in px-0"
								style="color: rgb(254, 39, 52);"><a href="#" target="_self"
								class="nav-link" th:href="@{/login}">Sign In</a></li>
						</div>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<div class="dropdown">
								<a class="dropdown-toggle" href="#" role="button"
									id="dropdownMenuLink" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"><img
									style="width: 36px;"
									src="https://uifaces.co/our-content/donated/fyXUlj0e.jpg"
									class="w-25 border border-primary rounded-circle"
									alt="user-avatar"></a>
								<div class="dropdown-menu justify-content-end"
									aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item text-center" href="#"><span
										th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
									<form class="text-center" th:action="@{/logout}" method="post">
										<input class="btn" type="submit" value="Salir" />
									</form>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</nav>
		</div>
	</header>
</body>
</html>