.subtext {
	font-family: Lato;
	font-size: 18px;
	color: #919191;
}

.how-to-image {
	height: 400px;
	max-width: 100%;
}

@media ( max-width : 767px) {
	.footer {
		border-radius: 0;
	}
}

.terms-and-conditions-section {
	padding-top: 120px;
	margin: 10px 0;
}

.terms-and-conditions-section.grey {
	background-color: #f8f8fb;
}

.terms-and-conditions-section .section-title {
	color: #979797;
}

.how-to-section {
	margin: 10px 0;
	padding: 20px 0;
}

.text-wrapper {
	height: 400px;
	position: relative;
}

.text-wrapper .section-text {
	position: absolute;
	top: 40%;
	height: 100px;
	margin-top: -50px;
}

.title {
	font-family: Lato;
	font-weight: 100;
	font-style: italic;
	color: #979797;
	margin-bottom: 30px;
}

.subtext {
	font-family: Lato;
	font-size: 18px;
	color: #919191;
}

.how-to-image {
	height: 400px;
	max-width: 100%;
}

@media ( max-width : 767px) {
	.text-wrapper {
		height: auto;
		position: static;
	}
	.text-wrapper .section-text {
		position: static;
		height: auto;
		margin-top: 0;
	}
	.how-to-image {
		height: 200px;
	}
}