<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/fontawesome/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body class="bg-white">
  <div th:replace="layout/header :: header"></div>
  <hr class="my-5">
  <section class="container-fluid my-5 mb-5">

    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="col-12 mb-0">
          <figure class="rounded text-center">
            <a href="#">
              <img th:src="@{../img/productos/Lamborghini-LP750-4.jpg}" class="img-fluid rounded">
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-6">

        <h1><strong>Nombre del Producto</strong></h1>
        <p class="mb-2 text-muted text-uppercase small">Categoria</p>
        <ul class="d-flex pl-0">
          <li class="lista">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#1266f1">
                  <path d="M86,10.75l-21.79395,51.6504l-53.45605,5.83691l39.97656,37.75098l-11.25391,55.26172l46.52734,
                    -28.34473l46.52734,28.34473l-11.25391,-55.26172l39.97656,-37.75098l-53.45605,-5.83691z">
                  </path>
                </g>
              </g>
            </svg>
          </li>
          <li class="lista">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#1266f1">
                  <path d="M86,10.75l-21.79395,51.6504l-53.45605,5.83691l39.97656,37.75098l-11.25391,55.26172l46.52734,
                    -28.34473l46.52734,28.34473l-11.25391,-55.26172l39.97656,-37.75098l-53.45605,-5.83691z">
                  </path>
                </g>
              </g>
            </svg>
          </li>
          <li class="lista">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#1266f1">
                  <path d="M86,10.75l-21.79395,51.6504l-53.45605,5.83691l39.97656,37.75098l-11.25391,55.26172l46.52734,
                    -28.34473l46.52734,28.34473l-11.25391,-55.26172l39.97656,-37.75098l-53.45605,-5.83691z">
                  </path>
                </g>
              </g>
            </svg>
          </li>
          <li class="lista">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#1266f1">
                  <path d="M86,10.75l-21.79395,51.6504l-53.45605,5.83691l39.97656,37.75098l-11.25391,55.26172l46.52734,
                    -28.34473l46.52734,28.34473l-11.25391,-55.26172l39.97656,-37.75098l-53.45605,-5.83691z">
                  </path>
                </g>
              </g>
            </svg>
          </li>
          <li class="lista">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#1266f1">
                  <path d="M86,10.33008l-4.95507,11.75781l-17.04883,40.48047l-53.33007,5.79492l39.89257,37.625l-11.33789,
                    55.51368l46.77929,-28.47071l46.7373,28.47071l-11.2959,-55.51368l39.85058,-37.625l-53.28808,-5.79492zM86,
                    38.00293l14.57129,34.55957l36.44922,3.94727l-27.29493,25.7832l7.55859,37.20508l-31.28418,-19.06446l-31.32617,
                    19.06446l7.60058,-37.20508l-27.25293,-25.7832l36.40722,-3.94727z">
                  </path>
                </g>
              </g>
            </svg>
          </li>
        </ul>
        <p class="h2"><strong>$12.99</strong></p>
        <p class="pt-1">Esta réplica cuenta con soporte de trabajo, suspensión delantera, palanca de
          cambio de marcha, palanca de freno de pie, cadena de transmisión, ruedas y dirección. Todas las piezas
          son particularmente delicadas debido a su escala precisa y requieren especial cuidado y atención.</p>
        <div class="table-responsive">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Escala</strong></th>
                <td>1:10</td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Stock</strong></th>
                <td>748</td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Vendedor</strong></th>
                <td>Min Lin Diecast</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div class="mb-2">

          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="pl-0 pb-0 w-25">Cantidad</td>
                <!-- <td class="pb-0">Seleccione la Escala</td> -->
              </tr>
              <tr>
                <td class="row">
                  <div class="list-group list-group-horizontal mx-0 col-6">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      class="list-group-item list-group-item-action col-2 py-2" style="border: 1px solid #a3a8ad;">
                      -
                    </button>
                    <input class="col-3" min="0" name="quantity" value="1" type="number">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      class="list-group-item list-group-item-action col-2 py-2" style="border: 1px solid #a3a8ad;">
                      +
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-primary py-2 mr-1 mb-2">Comprar ahora</button>
        <button type="button" class="btn btn-success py-2 mr-1 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 172 172"
            style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
              stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
              font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#ffffff">
                <path
                  d="M10.75,10.75v10.75h21.5c2.30957,0 4.28321,1.51172 5.03906,3.69531l10.03614,89.52734c0.92382,8.14649 7.89453,14.31933 16.04101,14.31933c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.6582,-10.70801h51.52441c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.7002,-10.70801h9.7002v-10.75h-65.63379c-2.77148,0 -5.03906,-1.97362 -5.333,-4.74511l-0.67187,-6.04687h68.19531c7.64257,0 14.31933,-5.45898 15.83105,-12.93359l10.28808,-51.56641h-11.92578v4.87109l-8.90234,44.55371c-0.5459,2.56153 -2.6875,4.3252 -5.29101,4.3252h-69.45508l-8.31445,-74.1582l-0.16797,-0.50391c-2.05763,-6.71875 -8.31446,-11.3379 -15.36915,-11.3379zM86,21.5v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z">
                </path>
              </g>
            </g>
          </svg>
          Agregar a la cesta
        </button>
      </div>
    </div>

  </section>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>