<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Product List</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/webjars/fontawesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="container-fluid">
		<div style="height: 90px;"></div>
		<h5  style="display: inline;">:
		Available Products</h5>
		<h5 style="display: inline" th:text="${productos.size}"></h5>
		<div class="row">
			<div class="col-md-4" style="padding-bottom: 16px;"
				th:each="p, i : ${productos}">
				<a th:href="@{/products/details/{id}(id=${p.id})}">
					<div class="card h-100 box__card">
						<img class="card-img-top"
							th:src="*{'data:image/png;base64,'+p.image}" alt="Card image cap">
						<div class="card-body">
							<h6 class="card-title" th:text="${p.name}"></h6>
							<p class="card-text">
								$ <span
									th:text="${#numbers.formatDecimal(p.buyPrice, 0, 'COMMA', 2, 'POINT')}" class="h5">10.00</span>
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/footer :: footer"></footer>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>